In [2]:
import pandas as pd
import os

In [3]:
path = 'WebVisualizations/assets/api_output.csv'

In [4]:
df = pd.read_csv(path)

In [6]:
df

,Unnamed: 0,character_id,character_name,num_of_comics,num_of_series,num_of_stories,num_of_events
0,1185,1009610,Spider-Man,3918,989,5898,38
1,1472,1009726,X-Men,3432,828,5092,42
2,573,1009368,Iron Man,2561,626,3880,31
3,1453,1009718,Wolverine,2470,663,3457,42
4,185,1009220,Captain America,2362,651,3503,31
...,...,...,...,...,...,...,...
655,706,1011145,Lord Hawal,1,1,1,1
656,1372,1010987,Unus (Age of Apocalypse),1,1,1,1
657,1068,1010970,Sabretooth (House of M),1,1,1,1
658,1073,1011156,Salo,1,1,1,1
659,67,1010827,Armory,1,1,2,1

In [8]:
df.to_html('marvel_api_df.html')